<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    {% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
    <meta name="author" content="{{ site.author.name }}">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!-- Should remove this. Ie8 needs to die -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link rel="shortcut icon" href="/assets/images/favicon.ico">

    <!-- Le styles -->
    <link href="{{ ASSET_PATH }}/bootstrap3/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ ASSET_PATH }}/bootstrap3/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="{{ ASSET_PATH }}/css/style.css?body=1" rel="stylesheet" type="text/css" media="all">

    <!-- atom & rss feed -->
    <link href="{{ BASE_PATH }}{{ site.JB.atom_path }}" type="application/atom+xml" rel="alternate" title="Sitewide ATOM Feed">
    <link href="{{ BASE_PATH }}{{ site.JB.rss_path }}" type="application/rss+xml" rel="alternate" title="Sitewide RSS Feed">

  </head>

  <body>

    <div class="navbar navbar-inverse navbar-static-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{ HOME_PATH }}">{{ site.title }}</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            {% assign pages_list = site.pages %}
            {% assign group = 'navigation' %}
            {% include JB/pages_list %}
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
    <div class="titlewrapwrap">
        <div class="col-md-12 titlewrap">
          <div class="title-inner">
            <div class="title-header-text">DIY Developer</div>
            <div class="title-tagline-text">software development on weekdays, power tools on weekends.</div>
          </div>
        </div>
    </div>
    <div class="container"> 
      <div class="row">
        <div class="col-md-9">
          {{ content }}        
        </div>
        <div class="col-md-3">
          <div align="center">
            <img src="/assets/images/logo_sm_200.png" alt="Cheesy logo image" />
            <!-- Place this tag where you want the widget to render. -->
            <div class="g-follow" data-annotation="bubble" data-height="24" data-href="//plus.google.com/u/0/100427219819027610598" data-rel="author"></div>

            <!-- Place this tag after the last widget tag. -->
            <script type="text/javascript">
              (function() {
                var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
                po.src = 'https://apis.google.com/js/platform.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
              })();
            </script>
          </div>
          <div>
            <h2 class='title'>Tag Cloud</h2>
            <!-- start tag cloud -->
            <div class="leftpad20">
              {% include JB/tag_cloud %}
            </div>
            <!-- end tag cloud -->
            <div class='clear'></div>
          </div>
          <div>
            <h2 class='title'>Twitter</h2>
              <div class=''>
              <a class="twitter-timeline" href="https://twitter.com/dfrencham" data-widget-id="410268461357469696" height="300px">Tweets by @dfrencham</a>
              <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
              </div>
              <div class='clear'></div>
          </div>
          <div class=''>
            <h2>Good Reads</h2>
            <ul>
            <li><a href='http://www.Kickstarter.com'>Kickstarter</a></li>
            <li><a href='http://www.reddit.com'>Reddit</a></li>
            <li><a href='http://www.hanselman.com/'>Scott Hanselman's Blog</a></li>
            <li><a href='http://weblogs.asp.net/scottgu/‎'>Scotty Gu's Blog</a></li>
            </ul>
            <div class='clear'></div>
          </div>
        </div>
      </div>
      <div class="row">
          <hr />
          <footer class="col-md-12">
            <p>&copy; {{ site.time | date: '%Y' }} {{ site.author.name }}
              with help from <a href="http://jekyllbootstrap.com" target="_blank" title="The Definitive Jekyll Blogging Framework">Jekyll Bootstrap</a>
              and <a href="http://twitter.github.com/bootstrap/" target="_blank">Twitter Bootstrap</a>
            </p>
          </footer>
      </div>
    </div><!-- /.container -->

    <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-48772536-1', 'diydeveloper.io');
    ga('send', 'pageview');
    </script>

    <link href="{{ ASSET_PATH }}/css/shCore.css" rel="stylesheet" type="text/css" />
    <link href="{{ ASSET_PATH }}/css/shThemeDefault.css" rel="stylesheet" type="text/css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src='{{ ASSET_PATH }}/scripts/shCore.js' type='text/javascript'></script>
    <script src='{{ ASSET_PATH }}/scripts/shAutoloader.js' type='text/javascript'></script>
    <script src='{{ ASSET_PATH }}/scripts/shBrushXml.js' type='text/javascript'></script>
    <script src='{{ ASSET_PATH }}/scripts/shBrushJScript.js' type='text/javascript'></script>
    <script src='{{ ASSET_PATH }}/scripts/shBrushCss.js' type='text/javascript'></script>
    <script src='{{ ASSET_PATH }}/scripts/shBrushCSharp.js' type='text/javascript'></script>
    <script src='{{ ASSET_PATH }}/bootstrap3/js/bootstrap.min.js' type='text/javascript'></script>
    <script src='{{ ASSET_PATH }}/scripts/utility.js' type='text/javascript'></script>
    <script type='text/javascript'>
    // code highlight
    //SyntaxHighlighter.config.bloggerMode = true;
    SyntaxHighlighter.all()

    // windows phone fix
    if (navigator.userAgent.match(/IEMobile\/10\.0/)) {
    var msViewportStyle = document.createElement("style");
    msViewportStyle.appendChild(
        document.createTextNode(
            "@-ms-viewport{width:auto!important}"
        )
    );
    document.getElementsByTagName("head")[0].
        appendChild(msViewportStyle);
    }
    </script>
  </body>
</html>
